html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

* {
  list-style: none;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.header {
  width: 100%;
  height: 1.33333rem;
  padding: 0.13333rem 0.26667rem;
  box-sizing: border-box;
}

.header input {
  background: #ccc;
  width: 100%;
  box-sizing: border-box;
  height: 1.06667rem;
  border-radius: 0.26667rem;
  padding-left: 0.53333rem;
}

.main {
  width: 100%;
  flex: 1;
}

.main .swiper-container {
  width: 100%;
}

.main .swiper-container .swiper-slide {
  width: 100%;
  height: 4.53333rem;
}

.main .swiper-container .swiper-slide ul {
  display: flex;
  margin: 0.26667rem 0;
}

.main .swiper-container .swiper-slide ul li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .swiper-container .swiper-slide ul li img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

.main .swiper-container .swiper-slide ul li span {
  font-size: 0.32rem;
  margin-top: 0.13333rem;
}

.main .czpt {
  width: 100%;
  padding: 0.13333rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.main .czpt div {
  display: flex;
  overflow: hidden;
}

.main .czpt div dl {
  margin-right: 0.26667rem;
}

.main .czpt div dl dt img {
  width: 2.13333rem;
  height: 2.13333rem;
}

.main .czpt div dl dd {
  font-size: 0.32rem;
}

.footer {
  width: 100%;
  height: 1.33333rem;
  display: flex;
}

.footer li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#opp {
  bottom: 0;
}
